# Firebase service account
FIREBASE_PROJECT_ID=ideal-bot
FIREBASE_PRIVATE_KEY_ID=your_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ideal-bot.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your_client_id
FIREBASE_CLIENT_CERT_URL=

# Google Sheets
SPREADSHEET_ID=your_google_sheet_id

# Telegram
BOT_TOKEN=your_telegram_bot_token

# App
BOT_MODE=webhook
WEBHOOK_DOMAIN=https://your-project.vercel.app
ADMIN_PANEL_PASSWORD=your_admin_password
